/* CUSTOM PROPS  */
:root {
    --font-family: "Kumbh Sans", "Arial", sans-serif;
    --text-color: #69707d;
    --accent-color: #ff7e1b;
    --accent-color-hover: #ffab6a;
    --accent-color-light: #ffeee2;
    --heading-color: #1d2026;
    --light-bg: #f6f8fd;
    --divider-bg: #e4e9f2;
}


/* FONTS  */
@font-face {
    font-family: "Kumbh Sans";
    src: url("../fonts/KumbhSans-Regular.woff2") format("woff2"),
        url("../fonts/KumbhSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kumbh Sans";
    src: url("../fonts/KumbhSans-Bold.woff2") format("woff2"),
        url("../fonts/KumbhSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* GLOBAL  */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 26px;
    background-color: #fff;
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


/* AUTOFILL-STYLES  */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */


/* PLACEHOLDER-STYLES  */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: rgba(52, 49, 61, 0.5);
    opacity: 1;
} */


/* VISUALLY-HIDDEN  */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER  */
.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* LOGO  */
.logo {
    display: inline-block;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 137px;
    height: 20px;
    object-fit: contain;
}


/* MAIN-CONTENT  */
.main-content {
    flex-grow: 1;
}


/* SITE-HEADER  */
.site-header {}

.site-header__container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--divider-bg);
}

.site-header__logo {
    flex-shrink: 0;
    margin-right: 56px;
}


/* NAVBAR  */
.site-header____sitenav {
    margin-right: auto;
}

.sitenav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav__item {
    position: relative;
    padding-top: 41px;
    padding-bottom: 45px;
}

.sitenav__item:not(:last-child) {
    margin-right: 32px;
}

.sitenav__link {
    display: block;
    font-size: 15px;
    line-height: 26px;
    color: var(--text-color);
}

.sitenav__link:hover {
    color: var(--heading-color);
}

.sitenav__link:hover::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    content: "";
}

















@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}